* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #083b4c;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin: 2rem;
}

#container {
    width: 1000px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #1389b2;
}